@tailwind base;
@tailwind components;
@tailwind utilities;


.flag-bg {
    background-clip: text;
    -webkit-background-clip: text;
}

.btn-shadow:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.74);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.74);
    transform: scaleX(1.05);
    transition: transform 50ms linear;
}
